<configuration>
    <property name="JMQX_LOG_LEVEL" value="${JMQX_LOG_LEVEL:-INFO}"/>
    <property name="JMQX_NETTY_LOG_LEVEL" value="${JMQX_NETTY_LOG_LEVEL:-INFO}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.netty" level="${JMQX_NETTY_LOG_LEVEL}"/>
    <logger name="org.rocksdb" level="WARN"/>
    <logger name="com.alipay.sofa.jraft" level="INFO"/>

    <root level="${JMQX_LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
